.footer {
  position: relative;
  border-top: 1px solid red;
}

.sponsor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
}

.sponsor-items img {
  width: 8rem;
  margin-left: 2rem;
  opacity: 0.5;
}

.contact {
  display: flex;
  position: absolute;
  top: 20%;
  right: 7%;
  padding-top: 1rem;
}

.contact-items {
  font-size: 2.6rem;
  color: white;
  font-weight: bold;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  border: 3px solid white;
  position: relative;
  margin-left: 2rem;
  cursor: pointer;
}

.contact-items img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contact-items:hover {
  background-color: #ef4444;
  background-color: white;
  color: white;
  transition: 0.5s;
}

.reyc {
  font-size: 1rem;
  text-transform: none;
  color: white;
  position: absolute;
  top: 10%;
  left: 7%;
  opacity: 0.5;
  font-style: italic;
  letter-spacing: 1.5px;
  padding-top: 1.5rem;
}
